.date-prefix-host::before {
    content: attr(data-date-prefix);
    border-radius: 4px;
    padding: 0px 3px;
    margin-right: 4px;
    vertical-align: middle;
    box-shadow: inset 0 0 2px 1px #80808070;
    font-size: 95%;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    line-height: 155%;
    vertical-align: baseline;
}

:root.date-prefix-pending [data-eventid] .nHqeVd:not(.date-prefix-ready),
:root.date-prefix-pending [data-eventid] .uFexlc:not(.date-prefix-ready) {
    opacity: 0;
}

.date-prefix-all-day::before {
    background-color: #fff;
    color: #3c4043;
}

.date-prefix-timed::before {
    background-color: #fff;
    color: #3c4043;
}

.KcY3wb .date-prefix-timed::before {
    line-height: 120%;
}

.nHqeVd, .uFexlc {
    display: flex;
    align-items: center;
}

.nHqeVd .date-prefix-host::before, .uFexlc .date-prefix-host::before {
    order: -1; /* 确保前缀总是在最前面 */
}
