.date-prefix-span {
    border-radius: 4px;
    padding: 0px 3px;
    margin-right: 4px;
    vertical-align: middle;
    box-shadow: inset 0 0 2px 1px #80808070;
    font-size: 95%;
    display: inline-flex;
    animation: appear 0.5s ease-in-out forwards;
    align-items: center;
    white-space: nowrap;
    line-height: 155%;
    vertical-align: baseline;
}

.date-prefix-all-day {
    background-color: #fff;
    color: #3c4043;
}

.date-prefix-timed {
    background-color: #fff;
    color: #3c4043;
}

.KcY3wb .date-prefix-timed {
    line-height: 120%;
}

.nHqeVd, .uFexlc {
    display: flex;
    align-items: center;
}

.nHqeVd .date-prefix-span, .uFexlc .date-prefix-span {
    order: -1; /* 确保前缀总是在最前面 */
}

@keyframes appear {
  from {
    opacity: 0;
    max-width: 0;
  }
  to {
    opacity: 1;
    max-width: 100%;
  }
}